*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik Mono One', sans-serif;
} /*Regole generali*/

/*Regole menu nav*/
.menu{
    height: 35px;
    display: inline-block;
    position: fixed;
    right: 20px;
    top: 40px;
    z-index: 2;
}
.menu ul li{
    line-height: 35px;
    display: inline;
    list-style: none;
    margin: 0 15px;
    padding: 10px 12px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    box-shadow: 2px 2px 5px black;
}
/*Fine Regole menu nav*/

/*Sfondi sezioni*/
#scarpa1{
    background-color: red;
}
#scarpa2{
    background-color: green;
}
#scarpa3{
    background-color: yellow;
}
/*Fine Sfondi sezioni*/

/*Interno Sezioni*/
.shoe{
    position: relative;
    width: 100%;
    height: 100vh;
}
.shoe img{
    width: 50%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
}
h2{
  position: absolute;
  bottom: 5%;
  left: 50%;
  color: yellow;
  font-size: 2.5em;
  font-weight: bold;
  transform: translate(-50%,-50%);
  text-align: center;
}
#scarpa3 h2{
    color: green;
}
/*Fine Interno Sezioni*/